## [Start] Setting "isAvailable" to default value of "true". **
$util.qr($context.args.input.put("isAvailable", $util.defaultIfNull($ctx.args.input.isAvailable, true)))
## [End] Setting "isAvailable" to default value of "true". **
{}